; Bluebird Analytics (Server and Viewer) sample config file

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SERVER configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[debug]
; level = ERROR | WARN | INFO | DEBUG
;   The WARN level will include errors; INFO will include errors and warns.
;   Leave blank to turn logging off.
; file = /path/to/desired/log/file
;   If this file can't be created, an error is logged to the Apache log.
;   Leave it blank if you don't want to log to a separate file.
;
level = WARN
file = /var/log/bbanalytics/analytics.log

[database]
; These parameters configure the mysql connection string:
;   user:pass@host:port/name
type = mysql
user = root
pass =
host = localhost
port = 3306
name = bbanalytics

[input]
base_path = /var/log/apache2/access.log
bb_cfg = /opt/bluebird_prod/bluebird.cfg


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; VIEWER configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

